// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

$font-post:  sans-serif;
$btn-background: lightgrey;
$box-shadow: 20px 20px 50px grey;



.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dev_header {
  background: black;
  border: solid 3px white;
  padding: 30px;
  color: white;
  width: 33%;
  box-shadow: $box-shadow;
}

.des_header {
  background: black;
  border: solid 3px white;
  padding: 30px;
  color: white;
  width: 33%;
  box-shadow: $box-shadow;
}

.post {
  display: flex;
  flex-direction: row;
  font-family: $font-post;
  background: white;
  margin: 60px;
  border-radius: 4px;
  padding: 20px;
  color: black;
}

.post_info {
  width: 60%
}

.post_image {
  width: 40%
}

.post_image img {
  width: 100%
}

.author {
  font-size: 2opx;
}

.title {
  font-size: 25px;
}

.category {
  font-size: 15px;
}

.content {
  font-size: 13px;
}
