// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

$font-post:  gineso, sans-serif;
$btn-background: #101115;
$box-shadow: 20px 20px 50px black;
$info-margin: 10px;



.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 30px;
}
.dev_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: $btn-background;
  // border-radius: 12px;
  // border: solid 2px #666666;
  padding: 10px 50px 10px 50px;
  color: white;
  width: 60%;
  box-shadow: $box-shadow;
  margin-right: 55px;
}

.skill_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: $btn-background;
  // border: solid 2px #666666;
  padding: 10px 50px 10px 50px;
  color: white;
  width: 40%;
  box-shadow: $box-shadow;
  margin-right: 55px;
}

.des_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: $btn-background;
  // border: solid 2px #666666;
  padding: 10px;
  color: white;
  width: 25%;
  box-shadow: $box-shadow;
  margin-left: 55px;
}

.header h2 {
  font-size: 40px;
  font-family: $font-post;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 16px;
  color: #666666;
  font-weight: 700;
}

.post {
  display: flex;
  flex-direction: row;
  font-family: $font-post;
  background: #101115;
  margin: 40px;
  padding: 0px;
  color: #666666;
  box-shadow: $box-shadow;
  width: 90%;
  float: right;
}

.post_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding: 55px;
}

.info_box {
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.post_image {
  width: 60%
}

.post_image img {
  width: 100%
}



.author {
  font-family: $font-post;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
  margin-top: $info-margin;
  line-height: 28px;
}

.category {
  font-family: $font-post;
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  margin-top: $info-margin;
}

.category-link {
  font-family: $font-post;
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  margin-top: $info-margin;
  color: #333bb7;
}

.content {
  font-size: 21px;
  font-family: serif;
  margin-top: $info-margin;
  line-height: 23px;
}

.large-image {
  margin-bottom: 100px;
}

.show-details {
  display: flex;
  flex-direction: column;
  font-family: $font-post;
  background: #080808;
  margin: 60px;
  // border-radius: 25px;
  padding: 30px;
  color: #666666;
  box-shadow: $box-shadow;
  width: 50%;
  float: left;
  margin-left: 100px;
}

.about {
  width: 80% !important;
}


@media (max-width: 2000px) {
  .post {
    flex-direction: column;
  }
  .post_image {
    width: 100%
  }
  .post_info {
    width: 100%
  }
  .header h2 {
    font-size: 30px;
  }

  .col-md-10 {
    width: 100%;
    margin-left: 100px;
  }


 }

@media (max-width: 1400px) {
  .header h2 {
    font-size: 20px;
  }

  .dev_header h2 {
    font-size: 28px;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .row {
    align-items: center;
  }
  .des_header {
    margin-left: 0px;
    width: 50%;
    margin-top: 25px;
  }
  .dev_header {
    width: 70%;
  }

  .col-md-10 {
    width: 100%;
    margin-left: 30px;
  }

}


  @media (max-width: 700px) {
    .info .title {
      font-size: 41px;
    }
  }
